.nft {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.nft .container {
  width: 100%;
  border-radius: 5px;
  
}

.minuteArm {
  fill: none;
  stroke: #A3A3A3;
  stroke-width: 6;
  stroke-miterlimit: 8;
}
.hourArm {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  stroke-miterlimit: 8;
}

.minute {
  transform-origin: 200px 200px;
}
.hour {
  transform-origin: 200px 200px;
}



